{% extends "layout.jinja2" %}
{% block content %}
<h1>Calendar</h1>
<p>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pcolalug%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FChicago" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
{% endblock %}
