{% extends "layout.jinja2" %}
{% block content %}
<h1>Calendar</h1>
<p>
<iframe src="https://www.google.com/calendar/embed?src=pcolalug%40gmail.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
{% endblock %}
