{% extends "layout.jinja2" %}
{% block content %}
<h1>Contact Us!</h1>
<h4>Mailing List</h4>
    <p>
        <a href="http://groups.google.com/group/pcolalug/">http://groups.google.com/group/pcolalug/</a>
    </p>
<h4>IRC</h4>
    <p>
        irc.freenode.net #pensacola_linux
    </p>
    or
    <a href="javascript:void(0);" onclick="showIrc()">Web Client</a><br />
    <p>
        <iframe width="600" height="380" scrolling="no" frameborder="0"
          src="http://webchat.freenode.net/?channels=pensacola_linux" id="irc-web-chat">
        </iframe>
    </p>
{% endblock %}
