{% extends "layout.jinja2" %}
{% block content %}
<h1>Contact Us!</h1>
<div class="contact">
  <h4>Meetings</h4>
  <p>The Pensacola Linux User's Group meets at 7:00 pm every third Tuesday of the month. 
  </p>
  <p>See <a href="{{'calendar'|route_url}}">our calendar page</a> for more.</p>
</div>
<div class="contact">
  <h4>Mailing List</h4>
  <p>
      <a href="http://groups.google.com/group/pcolalug/">http://groups.google.com/group/pcolalug/</a>
  </p>
</div>
<div class="contact">
  <h4>IRC</h4>
  <p>
      <a href="irc://irc.freenode.net/pensacola_linux">irc.freenode.net #pensacola_linux</a>
  </p>
  or
  <a href="javascript:void(0);" onclick="showIrc()">Web Chat Client</a><br />
  <p id="irc-web-chat">
      <iframe width="600" height="380" scrolling="no" frameborder="0"
          src="http://webchat.freenode.net/?channels=pensacola_linux">
      </iframe>
  </p>
</div>
<div class="contact">
  <h4>Social</h4>
  <a href="https://www.facebook.com/groups/88020407734/">Facebook Group</a><br />
  <a href="http://www.linkedin.com/groups/Pensacola-Linux-User-Group-4190446">LinkedIn Group</a><br />
</div>
<div class="contact">
  <h4>Map</h4>
  <p>
    We meet in the meeting room at:<br />
    Ozone Pizza Pub<br />
    1010 North 12th Avenue, Suite 111<br />
    Pensacola, FL 32501
  </p>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;sll=37.0625,-95.677068&amp;sspn=36.863178,86.572266&amp;t=m&amp;ie=UTF8&amp;q=O'Zone+Pizza+Pub,+Pensacola,+FL&amp;fb=1&amp;gl=us&amp;hq=O'Zone+Pizza+Pub,&amp;hnear=0x8890bf45accbaabb:0xa7c69a6e3179657c,Pensacola,+FL&amp;cid=0,0,4949733030292479257&amp;ll=30.426314,-87.202387&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;sll=37.0625,-95.677068&amp;sspn=36.863178,86.572266&amp;t=m&amp;ie=UTF8&amp;q=O'Zone+Pizza+Pub,+Pensacola,+FL&amp;fb=1&amp;gl=us&amp;hq=O'Zone+Pizza+Pub,&amp;hnear=0x8890bf45accbaabb:0xa7c69a6e3179657c,Pensacola,+FL&amp;cid=0,0,4949733030292479257&amp;ll=30.426314,-87.202387&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
{% endblock %}
