{% extends "layout.jinja2" %}
{% block content %}
<h1>Upcoming Meetings:</h1>
<p>
{% for event in events %}
    <div>
        <h3>{{ event.start }}</h3>
        Meeting At: {{ event.location }}
        <div>{{ event.description }}</div>
    </div>
</p>
{% endfor %}
{% endblock %}
