<html>
    <head>
      <meta name="google-site-verification" content="MwsFeo0kA99DGEk4YjTG0pddEYC-vxGiXTLG0paykuQ" />

        <title>pcolalug {% block title %}{% endblock %}</title>
        <link rel="stylesheet/less" type="text/css" href="/static/css/bootstrap/bootstrap.less">
        <link rel="stylesheet/less" type="text/css" href="/static/css/reset.less">
        <link rel="stylesheet/less" type="text/css" href="/static/css/styles.less">

        <link rel="stylesheet" type="text/css" href="/static/css/uni-form.css">
        <link rel="stylesheet" type="text/css" href="/static/css/default.uni-form.css">


        <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>


        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/modernizr.js" type="text/javascript"></script>
        <script src="/static/js/less.js" type="text/javascript"></script>
        <script src="/static/js/site.js" type="text/javascript"></script>
        <script src="/static/js/uni-form.jquery.js" type="text/javascript"></script>
    </head>
    <body>
        <nav id="user">
            <ul>
                {% if request.user %}
                    <li>Welcome, <a href="{{ request.route_url('profile') }}">{{ request.user.username }}</a> (<a href="{{ request.route_url('logout') }}">Logout</a>)</li>
                {% else %}
                    <a href="{{ request.route_url('register') }}">Register</a>
                    or
                    <a href="{{ request.route_url('login') }}">Login</a>
                {% endif %}
            </ul>
        </nav>
        <section id="logo">
            <img src="/static/images/logo.png" />
        </section>
        <nav id="menu">
            <ul>
                <li><a href="{{ request.route_url('index') }}">Home</a></li>
                <li><a href="#">Presentations</a></li>
                <li><a href="{{ request.route_url('calendar') }}">Calendar</a></li>
                <li><a href="{{ request.route_url('contact') }}">Contact</a></li>
                <li><a href="http://old.pcolalug.com" target="_blank">Old Site</a></li>
            </ul>
        </nav>
        <section id="container">
            {% block flash %}
                {% for type in ['success', 'error', 'warning', 'info'] %}
                  {% if request.session.peek_flash(type) %}
                    {% for message in request.session.pop_flash(type) %}
                    <div class="alert-message {{ type }}">
                        <a class="close" href="#">×</a>
                        <p><strong>{{ message }}</strong></p>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
            {% endblock %}
            <section id="inner-container">
                {% block content %}
                {% endblock %}
            </section>
        </section>
    </body>
</html>
